.answerOptionContainer {
  cursor: pointer;
  border-radius: 1rem;
}

.answerOptionContainer:hover {
  border: 1px solid var(--bs-primary) !important;
}

.answerOptionContainer:hover :first-child {
  background-color: var(--bs-primary);
  color: var(--bs-white) !important;
}
